#catalogue p{
    display:  inline-block;
    font-size: 22px;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 20px;
    width: 250px;
}

h2{
    padding-top: 1px;
    padding-left: 25px;
    padding-bottom: 1px;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    background-color: black;
}