#recherche{
    position : relative;
    left : 1485px;
    top : 185px;
}

.fond{

    position : relative;
    left : 600px;
    margin-top : -29px;
    right : 600px;
}

.navLogin{
    position : relative;
    top : -214px;
    left : 1336px;
    color : white;
    font-size : 20px;
}

.navRegister{
    position : relative;
    top : -214px;
    left : 1370px;
    color : white;
    font-size :20px;
}

.navOrders {
    position :relative;
    top : -214px;
    left : 1400px;
    color : white;
    font-size : 20px;

}

.cartEmpty {
    position : relative;
    top : -164px;
    left : 1746px;
    color : white;
    font-size : 20px;
}

.logo {
    position : relative;
    top : 175px;
    left : 700px;

}

.topfond {
    position : relative;
    left : 865px;
    margin-top : -29px;
    right : 600px;
    top:20px;
}

.xone {
    position : relative;
    top : -14px;
    left : 1386px;
    color : white;
    font-size : 20px;
}

.x360 {
    position : relative;
    top : -57px;
    left : 1285px;
    color : white;
    font-size : 20px;

}
#meilleuresventes{
    position : relative;
    top : 10px;
    left : 664px;
    color: black;
    font-size : 20px;
}

.imagetop {
    display :inline-block;
    position: relative;
    top : 20px;
    left : 770px;
    padding : 20px;
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}
#banierre {
    position :relative;
    left: 212px;
    top : 32px;

}

#new{
    position :relative;
    left: 660px;
    top : 55px;
    color : black;
    font-size : 20px;
}
.nouv{
    position :relative;
    left:894px;
    top: 100px;
}

.dark{
    position :relative;
    left:759px;
    top: 235px;
}

.over{
    position :relative;
    left:637px;
    top: 90px;
}

#ligne{
    position :relative;
    left:809px;
    top: 294px;
}

#txtbottom1{
    position :relative;
    left:926px;
    top: 489px;
}

#txtbottom2{
    position :relative;
    left:927px;
    top: 118px;
}

#txtbottom3{
    position :relative;
    left:1355px;
    top: -60px;
}


#txtbottom4{
    position :relative;
    left:926px;
    top: 139px;
}

.widget {

   display : block;
    position : relative;
    left : 1470px;
    top :-360px;
}

#footer {
  position: relative;
    left : 804px;
    top : 0px;

}

.carte{
    position: relative;
    left : 815px;
    top : 64px;
    text-align :center;
}

#catalogue p{
    display:  inline-block;
    font-size: 22px;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 20px;
    width: 250px;
}

h2{
    padding-top: 1px;
    padding-left: 25px;
    padding-bottom: 1px;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    background-color: black;
}